<h1>This is the homepage for our grader manager</h1>

<p>This view is app/views/home/index.html.erb</p>

<button type="button">login</button>
<button type="button">sign up</button>
<button type="button">browse catalog</button>
<button type="button">log out</button>
