body { 
    background-color: green;

}

h1{
    font-size: 4em;
    color: black;
    text-align: center;
    display: inline-block;
}

h2{
    font-size: 2em;
    color: black;
    text-align: center;
    display: inline-block;
    
}
p1{
    font-size: 1.5em;
    color: black;
    text-align: center;
    display: inline-block;
    padding: 10px;
    
}