#Board {
  width: 100;
  height: 100;
  background: wheat;
}

img {
  width: 100px;
  height: 100px;
}

h1 {
  font-size: 3em;
  color: black;
  text-align: center;
}

div { 
    display: flex;
    justify-content: center;
    align-items: center;
}
div.BoardBox { 
    height: 100%;
    display: grid;
}
div.Heading{
  width: 100%;
  height: 100px;
  
}

