/*
    Style rules: Color scheme is red, blue, grey, with hints of green. 
    Use neon/bright shades of these colors for a casino feel to the card game.
    

*/

#Board {
    background: wheat;
    height: 0;
    width: 0;
}

body {
    background-attachment: fixed;
    background-image: url(./images/background2.jpg);
    background-size: cover;
    height: auto;
}

img:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 1.5);
    height: 120px;
    margin: 2px;
    width: 144px;
}

img {
    animation-duration: 2s;
    animation-name: set;
    animation-play-state: paused;
    border: 2px solid blue;
    cursor: pointer;
    height: 100px;
    margin: 10px;
    width: 120px;
}

@keyframes scoreSize {
    70% {
        background-color: rgba(83, 1, 1, 0.808);
        font-size: 26px;
    }
}

h1 {
    color: white;
    font-family: 'Trebuchet MS';
    font-size: 4em;
    font-weight: 900;
    text-align: center;
    text-shadow: -1px 1px 6px red, 1px -1px 6px blue;
}

div {
    align-items: center;
    display: flex;
    justify-content: center;
}

div.BoardBox {
    align-self: center;
    background: rgb(255, 0, 0) radial-gradient(blue, red);
    box-shadow: 0px 0px 10px white;
    display: grid;
    height: 100%;
    margin: 10px auto;
    padding: 40px;
    width: 50%;
}

div.Heading {
    background-image: url(./images/set_cards.png);
    height: auto;
    height: 100px;
    width: 100%;
}

ul {
    color: black;
    display: list-item;
    font-size: 1.4em;
    padding-left: 30px;
    text-align: left;
}

li {
    font-size: 1em;
    list-style: decimal;
    padding: 4px 0px 4px 4px;
}

p,
p1,
p2,
p3 {
    border: 5px outset rgb(201, 6, 6);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(201, 6, 6);
    color: rgb(201, 6, 6);
    display: inline-flex;
    font-family: 'Trebuchet MS';
    font-size: 1.5em;
    margin: 2px;
    padding: 10px;
    text-align: center;
    text-shadow: 0px 0px 4px rgb(0, 0, 0);
}

p4 {
    color: rgb(201, 6, 6);
    font-family: 'Trebuchet MS';
    font-size: 1.5em;
    margin-left: 40px;
    text-align: right;
    text-shadow: 0px 0px 4px rgb(0, 0, 0);
}

button {
    color: rgb(190, 229, 248);
    cursor: pointer;
    background-color: #a80303;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px #111;
    font-size: 16px;
    padding: 10px;
}

button:hover {
    background-color: #810202;
}
button:active {
    box-shadow: 0 4px #222;
    transform: translateY(2px);
}

.reportbtn {
    background-color: #a80303;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 3px rgb(2, 0, 0);
    color: rgb(210, 235, 248);
    cursor: pointer;
    font-size: 18px;
    outline: none;
    padding: 15px;
    text-align: center;
}

.reportbtn:active {
    box-shadow: 0 4px #222;
    transform: translateY(4px);
}

.reportbtn:hover {
    background-color: #810202;
}

.cpu {
    margin: 20;
}

.report {
    display: inline-block;
    float: right;
    padding: 15px 50px 15px 10px;
    position: relative;
}

.report-content {
    background-color: #f3d8d8;
    box-shadow: 3px 10px 15px 8px rgba(0, 0, 0, 4);
    display: none;
    font-size: 20px;
    min-width: 135px;
    overflow: auto;
    position: absolute;
    z-index: 1;
}

.show {
    display: block;
}

.hintbtn {
    background-color: #68ff63d2;
    border: none;
    border-radius: 20px;
    box-shadow: 0 6px #111;
    color: rgb(0, 29, 43);
    cursor: pointer;
    float: right;
    font-size: 20px;
    margin-top: 20px;
    outline: none;
    padding: 12px 25px;
    text-align: center;
}

.hintbtn:hover {
    background-color: #3aad36d2;
}

.hintbtn:active {
    box-shadow: 0 4px #222;
    transform: translateY(4px);
}

.container {
    display: flex;
}

.Rules {
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS';
    font-size: 1.5em;
    margin-left: auto;
    text-align: left;
    text-shadow: 0px 0px 4px rgb(0, 0, 0);
}