#Board {
  width: 0;
  height: 0;
  background: wheat;
}
body { 
  background-image: url(./images/backdrop.png);
  height: auto;
  background-size: cover;
  background-attachment: fixed;
}
img:hover { 
  width: 144px;
  height: 120px;
  margin: 2px;
}
img {
  width: 120px;
  height: 100px;
  cursor: pointer;
  border: 2px solid black;
  margin: 10px;
  animation-name: set;
  animation-duration: 2s;
  /*animation-play-state: */
  

}

@keyframes set {
  0% { border-color:  black; transform: scale(1);}
  25% { border-color:  black; transform: scale(1.1);}
  50% { border-color:  black; transform: scale(1.3);}
  75% { border-color:  black; transform: scale(1.1);}
  100% { border-color:  black; transform: scale(1);}
}

h1 {
  font-size: 3em;
  color: black;
  text-align: center;
}

div { 
    display: flex;
    justify-content: center;
    align-items: center;
}

div.BoardBox { 
    height: 100%;
    display: grid;
    background: rgba(255, 255, 255,1);
    width: 50%;
    padding: 40px;
    margin: 100px auto;
}

div.Heading{
  width: 100%;
  height: 100px;
  background-image: url(./images/set_cards.png);
  height: auto;
}
ul{
  font-size: 1.4em;
  color: black;
  display:list-item;  
  text-align: left;
  padding-left: 30px;
  
}
li{
  font-size: 1em;
  list-style:decimal;
  padding-left: 15px;
  padding-top: 5px;
}

p, p1, p2, p3{
    font-size: 1.5em;
    color: black;
    text-align: center;
    display: inline-block;
    padding: 10px;
    border: 5px solid;
}
